{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status" class="form-div">
                <div class="table-livres">
                  {% for livre in livres %}
                    <div class="ligne-livre">
                      <div><h2>{{ livre.titre}}</h2></div>
                      <div><h3>Auteur {{ livre.auteur}}<h3></div>
                      <div>Date d'achat : {{ livre.dateAchat|date("d/m/Y")}}</div>
                      <div>Etat : {{ livre.etat}}</div>
                      <div>Thematiques : {{ livre.thematiques}}</div>
                      <div>
                        {% if livre.pret is not null %}
                          Emprunté par {{ livre.pret.nomPersonne}} le {{ livre.pret.dateEmprunt|date('d/m/Y')}} <br>
                          Contactable via : {{ livre.pret.mailPersonne}}
                        {% else %}
                          <button type="button" id="{{livre.id}}" class="pret">Ajouter un emprunt</button>
                        {% endif %}
                      </div>
                      <div class="">
                        <button type="button" name="button" onclick="window.location.href='{{ path('livre_delete', { 'id': livre.id }) }}'">{{'livre.delete'|trans}}</button>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>

            <div id="next">
                <h2>What's next?</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>


        </div>
    </div>
{% endblock %}
