{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bienvenue sur</span> la Bibliotheque</h1>
            </div>

            <div id="status" class="form-div">
                <div class="table-livres">
                  <h2>Les livres</h2>
                  {% for livre in livres %}
                    <div class="ligne-livre">
                      <div>
                        <a href="{{path('livre', { 'id': livre.id })}}">
                          <span>{{ livre.titre}} ( {{ livre.auteur}} )<span>
                        </a>
                      </div>
                      <div class="">
                        <button type="button" name="button_delete" onclick="window.location.href='{{ path('livre_delete', { 'id': livre.id }) }}'">Supprimer le livre</button>
                      </div>
                    </div>
                  {% endfor %}
                </div>

                <div id="">
                    <h2>Ajouter un livre</h2>
                    {{ form_start(form) }}

                    Titre : <br> {{ form_widget(form.titre) }} <br>
                    Auteur : <br> {{ form_widget(form.auteur) }} <br>
                    ISBN : <br> {{ form_widget(form.isbn) }} <br>
                    Date d'achat : <br> {{ form_widget(form.dateAchat) }} <br>
                    Etat : <br> {{ form_widget(form.etat) }} <br>
                    Thematiques : <br> {{ form_widget(form.thematiques) }} <br>

                    {{ form_end(form) }}
                </div>
            </div>




        </div>
    </div>
{% endblock %}
